<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-xs-12 col-md-11">
      <h2>Your project's details!</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-1"></div>

    <!-- Left side of booking show page -->
    <div class="col-md-7">
      <div class="card-dashboard-frame card-dashboard-details background-white">

        <div class="card-bottom-border">
          <p><strong>Your current volunteers</strong></p>
          <% @project.bookings.order(:start_date).each do |booking| %>
          <div class="volunteer-info">
            <% if (booking.start_date <= Date.today) && (booking.end_date >= Date.today) %>
            <%= link_to profile_path(booking.user) do  %>
            <%= cl_image_tag booking.user.profile_picture.url(:avatar),
            class: "avatar", width: "50px" %>
            <% end %>
            <span><%= booking.user.first_name %> <%= booking.user.last_name %></span>
            <span><%= booking.user.email %></span>
            <span><%= booking.start_date.strftime("%a, %b %d, %Y") %> - <br> <%= booking.end_date.strftime("%a, %b %d, %Y") %></span>
            <% end %>
          </div>
          <% end %>
        </div>

        <div class="card-bottom-border">
          <p><strong>Your upcoming volunteers</strong></p>
          <% @project.bookings.order(:start_date).each do |booking| %>
          <div class="volunteer-info">
            <% if booking.start_date > Date.today %>
            <%= link_to profile_path(booking.user) do  %>
            <%= cl_image_tag booking.user.profile_picture.url(:avatar),
            class: "avatar", width: "50px" %>
            <% end %>
            <span><%= booking.user.first_name %> <%= booking.user.last_name %></span>
            <span><%= booking.user.email %></span>
            <span><%= booking.start_date.strftime("%a, %b %d, %Y") %> - <br> <%= booking.end_date.strftime("%a, %b %d, %Y") %></span>
            <% end %>
          </div>
          <% end %>
        </div>

        <div>
          <p><strong>Your past volunteers</strong></p>
          <% @project.bookings.order("end_date desc").each do |booking| %>
          <div class="volunteer-info">
            <% if booking.end_date < Date.today %>
            <%= link_to profile_path(booking.user) do  %>
            <%= cl_image_tag booking.user.profile_picture.url(:avatar),
            class: "avatar", width: "50px" %>
            <% end %>
            <span><%= booking.user.first_name %> <%= booking.user.last_name %></span>
            <span><%= booking.user.email %></span>
            <span><%= booking.start_date.strftime("%a, %b %d, %Y") %> - <br> <%= booking.end_date.strftime("%a, %b %d, %Y") %></span>
            <% end %>
          </div>
          <% end %>
        </div>

      </div>
    </div>

    <!-- Right side of booking show page -->
    <div class="col-md-3">
      <div class="card-dashboard-frame background-white">
        <div class="card card-dashboard-picture" style="background-image: url(<%= @project.photo %>);">
        </div>
        <div class="card-dashboard-details">
          <div class="card-bottom-border">
            <%= link_to project_path(@project) do  %>
            <h2><%= @project.title %></h2>
            <% end %>
            <p><%= @project.location %></p>
          </div>
          <div class="card-bottom-border">
            <p>Total bookings: <%= @project.bookings.count %></p>
          </div>
          <div class="card-bottom-border card-padding">
            <%= link_to "View project", project_path(@project) %>
          </div>
          <div class="card-margin">
            <!-- Change "active" boolean to false -->
            <%= link_to "Deactivate project", project_path(@project), class: "btn btn-delete" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

