<div class="container">
  <h3>Active Projects</h3>
  <div class="container">
    <div class="row">
      <% @projects.each do |project| %>
      <% if project.active %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card-dashboard-frame">
            <div class="card card-dashboard-picture" style="background-image: url(<%= project.photo %>);">
            </div>
            <div class="card-dashboard-details">
              <div class="card-bottom-border">
                <%= link_to project_path(project) do  %>
                <h2><%= project.title %></h2>
                <% end %>
                <p><%= project.location %></p>
              </div>
              <div class="card-bottom-border">
                <p>Total bookings: <%= project.bookings.count %></p>
              </div>
              <div class="card-bottom-border card-padding">
                <%= link_to "See details", my_project_path(project) %>
              </div>
              <div class="card-margin">
                <!-- Change "active" boolean to false -->
                <%= link_to "Deactivate project", toggle_active_status_project_path(project), method: :patch, class: "btn btn-delete" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <% end %>
    </div>
  </div>

  <h3>Inactive Projects</h3>
  <div class="container">
    <div class="row">
      <% @projects.each do |project| %>
      <% if !project.active %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card-dashboard-frame">
            <div class="card card-dashboard-picture" style="background-image: url(<%= project.photo %>);">
            </div>
            <div class="card-dashboard-details">
              <div class="card-bottom-border">
                <%= link_to project_path(project) do  %>
                <h2><%= project.title %></h2>
                <% end %>
                <p><%= project.location %></p>
              </div>
              <div class="card-bottom-border">
                <p>Total bookings: <%= project.bookings.count %></p>
              </div>
              <div class="card-bottom-border card-padding">
                <%= link_to "See details", my_project_path(project) %>
              </div>
              <div class="card-margin">
                <!-- Change "active" boolean to true -->
                <%= link_to "Activate project", toggle_active_status_project_path(project), method: :patch, class: "btn btn-action" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <% end %>
    </div>
  </div>

</div>
