<div class="container">
  <h3>Upcoming Bookings</h3>
  <div class="container">
    <div class="row">
      <% @bookings.order(:start_date).each do |booking| %>
      <% if booking.upcoming_booking? %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card-dashboard-frame">
          <div class="card card-dashboard-picture" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= booking.project.photo %>);">
            <%= link_to profile_path(booking.project.user) do %>
            <%= cl_image_tag booking.project.user.profile_picture.url(:avatar), class: "avatar avatar-project-owner", width: "80px" %>
            <% end %>
          </div>
          <div class="card-dashboard-details">
            <div class="card-bottom-border header-margin">
              <%= link_to project_path(booking.project) do  %>
                <h2><%= booking.project.title %></h2>
              <% end %>
              <p><%= booking.project.location %></p>
            </div>
            <div class="card-bottom-border">
              <p><%= booking.start_date.strftime("%b %d, %Y") %> - <%= booking.end_date.strftime("%b %d, %Y") %></p>
            </div>
            <div class="card-bottom-border card-padding-bottom">
              <p>Your fellow volunteers</p>
              <% booking.all_volunteers.each do |volunteer| %>
              <%= link_to profile_path(volunteer) do %>
              <%= cl_image_tag volunteer.profile_picture.url(:avatar),
              class: "avatar", width: "50px" %>
              <% end %>
              <% end %>
            </div>
            <div class="card-bottom-border card-padding">
              <%= link_to "See details", booking_path(booking) %>
            </div>
            <div class="card-margin">
              <%= link_to "Cancel booking", booking_path(booking), method: :delete, class: "btn btn-delete" %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>

  <h3>Past Bookings</h3>
  <div class="container">
    <div class="row">
      <% @bookings.order("end_date desc").each do |booking| %>
      <% if booking.past_booking? %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card-dashboard-frame">
          <div class="card card-dashboard-picture" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= booking.project.photo %>);">
            <%= link_to profile_path(booking.project.user) do %>
            <%= cl_image_tag booking.project.user.profile_picture.url(:avatar), class: "avatar avatar-project-owner", width: "80px" %>
            <% end %>
          </div>
          <div class="card-dashboard-details">
            <div class="card-bottom-border header-margin">
              <%= link_to project_path(booking.project) do  %>
              <h2><%= booking.project.title %></h2>
              <% end %>
              <p><%= booking.project.location %></p>
            </div>
            <div class="card-bottom-border">
              <p><%= booking.start_date.strftime("%b %d, %Y") %> - <%= booking.end_date.strftime("%b %d, %Y") %></p>
            </div>
            <div class="card-bottom-border card-padding-bottom">
              <p>Your fellow volunteers</p>
              <% booking.all_volunteers.each do |volunteer| %>
              <%= link_to profile_path(volunteer) do %>
              <%= cl_image_tag volunteer.profile_picture.url(:avatar),
              class: "avatar", width: "50px" %>
              <% end %>
              <% end %>
            </div>
            <div class="card-bottom-border card-padding">
              <%= link_to "See details", booking_path(booking) %>
            </div>
            <div class="card-margin">
              <%= link_to "Add review", booking_path(booking), class: "btn btn-action" %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
</div>
