<div class="banner booking-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.5)), url(<%= @booking.project.photo %>);">
  <div class="banner-content">
    <h1>You're going to <%= @booking.project.location %>!</h1>
  </div>
</div>

<div class="container">
  <div class="row">

    <!-- Left side of booking show page -->
    <div class="col-md-7">
      <div class="card-dashboard-frame card-dashboard-details background-white">
        <div>
          <h3>Your booking's details</h3>
        </div>

        <div class="card-bottom-border project-dates card-margin">
          <span>
            <strong>Check In</strong><br> <%= @booking.start_date.strftime("%a, %b %d, %Y") %>
          </span>
          <span>
            <strong>Check Out</strong><br> <%= @booking.end_date.strftime("%a, %b %d, %Y") %>
          </span>
        </div>

        <div class="card-bottom-border">
          <p><strong>Your fellow volunteers</strong></p>
          <% @booking.all_volunteers.each do |volunteer| %>
            <% if volunteer != current_user %>
              <div class="volunteer-info">
                <%= link_to profile_path(volunteer) do %>
                  <%= cl_image_tag volunteer.profile_picture.url(:avatar),
                  class: "avatar", width: "50px" %>
                <% end %>
                <span><%= volunteer.first_name %> <%= volunteer.last_name %></span>
                <span><%= volunteer.email %></span>
                <% volunteer.bookings.each do |booking| %>
                  <% if (booking.all_dates).overlaps?(@booking.all_dates) &&
                         booking.project == @booking.project %>
                    <span><%= booking.start_date.strftime("%a, %b %d") %> - <%= booking.end_date.strftime("%a, %b %d") %></span>

                  <% end %>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>

        <div class="card-margin">
          <%= link_to "View project", project_path(@booking.project) %>
        </div>

      </div>

    </div>

    <div class="col-md-1"></div>

    <!-- Right side of booking show page -->
    <div class="col-md-4">
      <div class="card-dashboard-frame card-dashboard-details background-white">
        <h3>Contact your host!</h3>
        <%= link_to profile_path(@booking.project.user) do %>
          <%= cl_image_tag @booking.project.user.profile_picture.url(:avatar),
          class: "avatar picture-margin", width: "100px" %>
        <% end %>
        <h4><%= @booking.project.user.first_name %> <%= @booking.project.user.last_name %></h4>
        <p><i class="fas fa-phone"></i> <%= @booking.project.user.phone %></p>
        <p><i class="fas fa-at"></i> <%= @booking.project.user.email %></p>
        <p><i class="fas fa-map-pin"></i> <%= @booking.project.address %></p>
      </div>
    </div>

  </div>
</div>
