<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-xs-12 col-md-11">
      <h2>You're going to <%= @booking.project.location %>!</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-1"></div>

    <!-- Left side of booking show page -->
    <div class="col-md-5">
      <div class="card-dashboard-frame card-dashboard-details">

        <div class="card-bottom-border project-dates">
          <span>
            <strong>Check In</strong><br> <%= @booking.start_date.strftime("%a, %b %d, %Y") %>
          </span>
          <span>
            <strong>Check Out</strong><br> <%= @booking.end_date.strftime("%a, %b %d, %Y") %>
          </span>
        </div>

        <div class="card-bottom-border">
          <p><strong>Your fellow volunteers</strong></p>
          <% @booking.all_volunteers.each do |volunteer| %>
            <div class="volunteer-info">
              <%= link_to profile_path(volunteer) do %>
                <%= cl_image_tag volunteer.profile_picture.url(:avatar),
                class: "avatar", width: "50px" %>
              <% end %>
              <span><%= volunteer.first_name %> <%= volunteer.last_name %></span>
            </div>
            <!-- include start_date end_date of fellow volunteers-->
          <% end %>
        </div>

        <div class="action-margin">
          <%= link_to "View project", project_path(@booking.project) %>
        </div>

      </div>

    </div>

    <div class="col-md-1"></div>

    <!-- Right side of booking show page -->
    <div class="col-md-4">
      <div class="card-dashboard-frame card-dashboard-details project-owner">
        <%= link_to profile_path(@booking.project.user) do %>
          <%= cl_image_tag @booking.project.user.profile_picture.url(:avatar),
          class: "avatar picture-margin", width: "100px" %>
        <% end %>
        <h4><%= @booking.project.user.first_name %> <%= @booking.project.user.last_name %></h4>
        <p><i class="fas fa-phone"></i> Phone Number</p>
        <p><i class="fas fa-at"></i> <%= @booking.project.user.email %></p>
        <p><i class="fas fa-map-pin"></i> Address</p>
      </div>
    </div>

    <div class="col-md-1"></div>
  </div>
</div>
