<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path project.photo %>);">
  <div class="card-category"><%= project.category %></div>
  <div class="card-description">
    <h2><%= project.title %></h2>
    <p><%= project.description %></p>
  </div>
  <%= cl_image_tag project.user.profile_picture.url(:avatar), class: "card-user" %>
  <%= link_to "", project_path(project), class: "card-link" %>
</div>
