<%= simple_form_for @project do |f| %>
<%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title, required: true, autofocus: true %>
    <%= f.input :description, required: true %>
    <%= f.input :full_description, required: true %>
    <%= f.input :location, required: true %>
    <%= f.input :address, required: true %>
    <%= f.association :category, required: true %>
    <%= f.input :capacity, required: true %>
    <%= f.input :requirement, required: true %>
    <%= f.input :photo, required: false %>
    <%= f.input :photo_cache, as: :hidden %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Create Project", class: "btn btn-book" %>
  </div>
<% end %>
