<div class="card-frame">
  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= project.photo %>);">
    <div class="card-category"><%= project.category.name %></div>
    <%= cl_image_tag project.user.profile_picture.url(:avatar), class: "card-user" %>
  </div>
  <div class="card-description">
    <h2><%= project.title %></h2>
    <p><%= project.description %></p>
  </div>
  <%= link_to "", project_path(project), class: "card-link" %>
</div>
