<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.5)), url(<%= @project.photo %>);">
  <div class="banner-content">
    <h1><%= @project.title %></h1>
  </div>
</div>
<div class="container">
  <h3><%= @project.description %></h3>
  <h4><%= @project.location %></h4>
  <p><strong>Number of volunteers needed:</strong> <%= @project.capacity %></p>
  <p><strong>Project category:</strong> <%= @project.category.name %></p>
</div>
<div class="container">
  <%= simple_form_for [@project, @booking] do |f| %>
    <% if @booking.errors.any? %>
      <div class="error_explanation">
        <ul>
        <% @booking.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.submit "Make booking", class: "btn btn-primary" %>
  <% end %>
</div>
