<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.5)), url(<%= @project.photo %>);">
  <div class="banner-content">
    <h1><%= @project.title %></h1>
  </div>
</div>
<div class="show-broken-grid">
  <div class="description-container">
    <h2><%= @project.description %></h2>
    <h4><i class="fas fa-map-marker-alt"></i> <%= @project.location %></h4>
  </div>
  <div class="volunteers-container">
    <div class="volunteers text-center">
      <h3>Volunteers</h3>
      <h1><i class="fas fa-user-alt"></i></h1>
      <h4><%= @project.capacity %></h4>
    </div>
      <h4>Required experience:</h4>
      <p><%= @project.requirement %></p>
  </div>
  <div class="booking-form-container">
    <div class="form-body">
      <h3>Book to volunteer</h3>
      <%= simple_form_for [@project, @booking] do |f| %>
      <% if @booking.errors.any? %>
      <div class="error_explanation">
        <ul>
          <% @booking.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
      <%= f.input :start_date, as: :string, input_html: { id: "start_date" } %>
      <%= f.input :end_date, as: :string, input_html: { id: "end_date" } %>
      <%= f.submit "Make booking", class: "btn btn-book" %>
      <% end %>
    </div>
  </div>
  <div class="host-container text-center">
    <%= link_to profile_path(@project.user_id) do %>
      <h3>Project Leader</h3>
      <%= cl_image_tag @project.user.profile_picture.url(:avatar), class: "avatar", id: "host-photo" %>
      <h4><%= @project.user.first_name %> <%= @project.user.last_name %></h4>
      <p><%= @project.user.email %></p>
      <% if @project.user == current_user %>
        <%= link_to "Edit project", edit_project_path(@project), class: "btn btn-edit" %>
        <%= link_to "Delete project", project_path(@project), method: :delete, class: "btn btn-delete" %>
      <% end %>
    <% end %>
  </div>
  <div class="map-container">
    <div
      id="map"
      style="width: 100%;
      height: 100%;"
      data-markers="<%= @markers.to_json %>"
      ></div>
  </div>
  <div class="long-description">
    <p>
      <%= @project.full_description %>
    </p>
  </div>
</div>

<div class="similar-grid">
  <div class="similar-projects">
    <h3>Other <%= @project.category.name %> projects:</h3>
    <div class="container">
    <div class="row">
      <% @similar_projects[0..3].each do |project| %>
        <% if project != @project %>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <%= render 'shared/project-card', project: project %>
          </div>
        <% end %>
      <% end %>
    </div>
    </div>
  </div>
</div>
<% if @similar_locations.length > 1 %>
  <div class="similar-grid">
    <div class="similar-locations">
      <h3>Projects near <%= @project.location %>:</h3>
      <div class="container">
        <div class="row">
          <% @similar_locations[0..3].each do |project| %>
            <% if project != @project %>
              <div class="col-xs-12 col-sm-6 col-md-4">
                <%= render 'shared/project-card', project: project %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
