<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.5)), url(<%= @project.photo %>);">
  <div class="banner-content">
    <h1><%= @project.title %></h1>
  </div>
</div>
<div class="show-broken-grid">
  <div class="description-container">
    <h2><%= @project.description %></h2>
    <h4><i class="fas fa-map-marker-alt"></i> <%= @project.location %></h4>
  </div>
  <div class="volunteers-container">
    <div class="volunteers text-center">
      <h3>Volunteers</h3>
      <h1><i class="fas fa-user-alt"></i></h1>
    </div>
      <h4>Required skills:</h4>
      <ul>
        <li>English language</li>
        <li>Volunteering experience</li>
        <li>Teaching experience</li>
      </ul>
  </div>
  <div class="booking-form-container">
    <div class="form-body">
      <h3>Book to volunteer</h3>
      <%= simple_form_for [@project, @booking] do |f| %>
      <% if @booking.errors.any? %>
      <div class="error_explanation">
        <ul>
          <% @booking.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
      <%= f.input :start_date, as: :string, input_html: { id: "start_date" } %>
      <%= f.input :end_date, as: :string, input_html: { id: "end_date" } %>
      <%= f.submit "Make booking", class: "btn btn-book" %>
      <% end %>
    </div>
  </div>
  <div class="host-container text-center">
    <%= link_to profile_path(@project.user_id) do %>
      <h3>Project Leader</h3>
      <%= cl_image_tag @project.user.profile_picture.url(:avatar), class: "avatar", id: "host-photo" %>
      <h4><%= @project.user.first_name %> <%= @project.user.last_name %></h4>
      <p><%= @project.user.email %></p>
      <% if @project.user == current_user %>
        <%= link_to "Edit project", edit_project_path(@project), class: "btn btn-edit" %>
        <%= link_to "Delete project", project_path(@project), method: :delete, class: "btn btn-delete" %>
      <% end %>
    <% end %>
  </div>
  <div class="map-container">
    <div
      id="map"
      style="width: 100%;
      height: 100%;"
      data-markers="<%= @markers.to_json %>"
      ></div>
  </div>
  <div class="long-description">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet consectetur. Pharetra massa massa ultricies mi quis hendrerit. Maecenas volutpat blandit aliquam etiam erat velit. Est velit egestas dui id ornare arcu. Amet nisl purus in mollis nunc sed id. Risus feugiat in ante metus dictum at tempor commodo ullamcorper. Tempor commodo ullamcorper a lacus. Ut morbi tincidunt augue interdum velit euismod in pellentesque. Ut lectus arcu bibendum at varius. Quis blandit turpis cursus in hac habitasse platea dictumst quisque. Turpis egestas sed tempus urna et pharetra pharetra massa. Arcu cursus vitae congue mauris rhoncus. Amet mauris commodo quis imperdiet massa tincidunt nunc. Eget est lorem ipsum dolor sit amet consectetur adipiscing elit. Tellus elementum sagittis vitae et. Pellentesque habitant morbi tristique senectus et netus et malesuada. Metus dictum at tempor commodo ullamcorper a lacus. Placerat vestibulum lectus mauris ultrices eros in.
    </p>
  </div>
</div>
